@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-xb";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins-Regular";
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

.main-content {
  width: 100%;
}

.App {
  height: 100vh;
  position: relative;
}

.navbar,
.footer {
  height: 10vh;
}

.blk {
  width: 10px;
  height: 10px;
  padding: 2.5px;
  background-color: rgb(0, 80, 225);
}
.text-bold {
  font-family: "Poppins-Bold";
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
